@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
    font-family: "Wave";
    src: url("SonicEmpire-RLG6.woff");
}


html, body {
    /* margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; */

    background: rgb(161,221,251);
    background: linear-gradient(90deg, rgba(161,221,251,1) 0%, rgba(56,142,206,1) 50%, rgba(84,76,188,1) 100%);    
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* html {
    background: rgb(44, 42, 74);
    background: linear-gradient(47deg, rgba(44, 42, 74, 1) 0%, rgba(79, 81, 140, 1) 52%, rgba(44, 42, 74, 1) 100%);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
} */

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: #2c2a4a;
}

footer {
    background-color: #2c2a4a;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

/* links of the header displayed horizontally */
header ul {
    width: 100%;
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
    
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 20px;
}

header li a:hover {
    background-color: #907ad6;
}

h1,h2{
    text-align: center;

}

h1{
    font-family: "Wave";
    font-size: 10vw;
    color: #2c2a4a;
    letter-spacing: 5px;
}

h2{
    font-size: 30px;
    color:#454779;
}

#title{
    width: 100%;
    height: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#mainLogo {
    width: 70px;
    height: 70px;
    margin-right: 100px;
}

#downloadHeader {
    background-color: #907ad6;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}

#mainContent {
    /* center div in page */
    margin: 50px auto;
    margin-top: 65px;
    border-radius: 50px;
    width: 75%;
    padding: 50px;
    background : white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background is backgroundMainContent.svg */
    background-image: url("backgroundMainContent.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#downloadButton {
    color : white;
    background-color: #907ad6;
    width: 15vw;
    height: 55px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    /* strong shadows*/
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    padding:0.2vw;
}


#dlLogo {
    height:35px;
    width:35px;
}

/* #appPreview img is 70% of it's div and centered, the image have to keep the same ratio */
#appPreview {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contextAndButton {
    /* flex column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contextAndButton p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color :white; 
    border-radius: 15px;
    padding : 0.2vw;
    width: 20vw;
}