/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
     font-family: "Sonic Empire";
     src: url("../fonts/SonicEmpire-RLG6.woff") format("woff");
}

@font-face {
     font-family: "Nunito";
     src: url("../fonts/Nunito-Regular.woff") format("woff");
}

/* General */
body {
     font-family: "Nunito";
}

body,
html {
     height: 100%;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

html {
     background: rgb(44, 42, 74);
     background: linear-gradient(
          270deg,
          rgba(44, 42, 74, 1) 0%,
          rgba(79, 81, 140, 1) 50%,
          rgba(44, 42, 74, 1) 100%
     );
}

a {
     text-decoration: none;
}

/* Leftbar */
#containerLeftbar {
     height: 100%;
     width: 300px;
     background-color: #2c2a4a;
     float: left;
}

/* TopBar */
#containerTop {
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: space-between;
}

.topbarImages {
     height: 100%;
     width: 100%;
     border-radius: 50%;
}

#account {
     height: 50px;
     width: 50px;
}

#newMessage {
     height: 50px;
     width: 50px;
}

#containerSearchbar {
     display: flex;
     align-items: center;
     justify-content: center;
}

#searchForm {
     width: 150px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#containerChats {
     margin: 0;
     padding: 0;
     display: flex;
     height: 94%;
     display: block;
     overflow: auto;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/* Scrollbar */
::-webkit-scrollbar {
     width: 8px;
}

::-webkit-scrollbar-thumb {
     background: #888;
     border-radius: 10px;
     height: 10%;
}

#containerChats a {
     height: 100%;
     width: 100%;
}

/* A chat */
.containerChat {
     width: 100%;
     height: 100px;
     background-color: #2c2a4a;
     margin-top: 3%;
     display: flex;
     align-items: center;
     transition: 0.1s;
}

.containerChat:hover {
     cursor: pointer;
}

.containerChat .groupChatImage {
     height: 75px;
     border-radius: 50%;
     margin-left: 5%;
}

.containerChat .groupChatText {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: left;
     margin-left: 5%;
     font-size: 15px;
}



.groupName {
     color: white;
     text-align: left;
     height: auto;
     margin: 0;
}

.lastMessage {
     color: #aaa;
     height: auto;
     margin: 0;
}

/* Searchbar */
#searchInput {
     padding: 0;
     margin: 0;
     background-color: #4f518c;
     text-align: center;
     width: 100%;
     height: 50%;
     color: white;
     border-radius: 50px;
}

input[type="text"] {
     background-color: transparent;
     border: none;
     outline: none;
     padding: 10px 15px;
     width: 100%;
     font-size: 16px;
     color: white;
}

input[type="text"]::placeholder {
     color: #fff;
}

#containerDiscussion {
     width: calc(100% - 300px);
     height: calc(100% - 60px);
     float: right;
     position: absolute;

     right: 0px;
     top: 0;
     overflow: auto;
}

.messageBox {
     font-size: 20px;
     padding-right: 10px;
     margin: 0;
     display: flex;
     padding-top: 10px;
     padding-bottom: 10px;
     transition: 0.1s;
}

.messageBox:hover {
     background-color: rgba(144, 122, 214, 0.5);
}

.messageBox .profilePictureMessage {
     height: 50px;
     border-radius: 50%;
     margin-left: 10px;
     float: left;
}

.textMessage {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 10px;
}

.textMessage p {
     margin: 0;
}

.usernameChat {
     font-size: 16px;
     font-weight: bold;
     color: white;
}

.usernameChat:hover {
     text-decoration: underline;
}

.messageContent {
     font-size: 14px;
     color: #ccc;
}

#containerMessenger {
     display: flex;
     align-items: center;
     position: absolute;
     left: 300px;
     width: calc(100% - 300px);
     bottom: 0;
     z-index: 2;
     height: 60px;
     background-color: #2c2a4a;
}

#containerMessenger input {
     background-color: #907ad6;
     padding: 10px;
     margin-left: 10px;
     margin-right: 10px;
     border-radius: 30px;
     transition: 0.1s;
     width: calc(100% - 100px);
}

#containerMessenger input::placeholder {
     color: #ccc;
}

#sendMessenger {
     position: absolute;
     right: 15px;
}

.selected {
     background-color: #4f518c;
     width: 95%;
     margin-left: 5%;
}

#signInBox {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 60;
     height: 60%;
     border-radius: 50px;
     transform: translate(-50%, -50%);
     padding: 5%;
}

#signInBox * {
     margin: 0;
     padding: 0;
}

#backgroundSignIn {
     width: 100%;
     height: 100%;
     background-image: url("../images/signInBackground.svg");
     background-repeat: no-repeat;
     background-size: cover;
}

#waveLogoText {
     font-size: 10vh;
     color: white;
     font-family: "Sonic Empire";
     letter-spacing: 0.1em;
     margin: 0;
     margin-left: 5px;
     margin-right: 5px;
}

#slogan {
     font-size: 2vh;
     color: white;
}

#textConnexion {
     font-size: 4vh;
     color: white;
     padding-top: 2vh;
     padding-bottom: 2vh;
}

#logoWave {
     height: 10vh;
     width: auto;
     margin-left: 5px;
     margin-right: 5px;
}

.inputSign {
     border-radius: 12px;
     height: 3vh;
     width: 20vw;
     color: black;
     font-size: 2vh;
     transition: 0.4s;
     text-align: center;
}

.inputSign:focus {
     border: #907ad6 5px solid;
     outline: none;
     width: 25vw;
     height: 4vh;
     font-size: 2.5vh;
}

.signText {
     font-size: 2vh;
     color: white;
}

#signButton {
     margin: 5vh;
     margin-bottom: 2vh;
     width: 13vw;
     height: 5vh;
     background-color: #907ad6;
     border-radius: 20px;
     font-size: 2vh;
     color: white;
     min-width: 200px;
     cursor: pointer;
}

#textNoChatSelected {
     text-align: center;
     margin-top: 46vh;
     font-size: 4vh;
     color: white;
}

.loadingGif {
     display: block;
     margin: auto;
     margin-top: 43vh;
     height: 128px;
}

#noAccount {
     font-size: 1.5vh;
     color: white;
     text-decoration: underline;
     cursor: pointer;
}

/* CSS for fileInput*/
.inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
     padding: 30px;
}

.inputfile + label {
     font-size: 1.25em;
     font-weight: 700;
     color: white;
     background-color: #907ad6;
     display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
     background-color: #4f518c;
}

.inputfile + label {
     cursor: pointer; /* "hand" cursor */
}

/* make the #imgProfile centered with a maximum height and width of 150px*/
#imgProfile {
     display: block;
     margin: auto;
     max-height: 150px;
     max-width: 150px;
     border-radius: 50%;
     margin-top: 30px;
}

/* styles for the context menu*/
#contextMenu {
     position: absolute;
     background-color: black;
     border-radius: 10px;
     padding: 10px;
     display: none;
}

#contextMenu p {
     color: white;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

#contextMenu p:hover {
     text-decoration: underline;
}

#formConv {
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     position: absolute;
     top: 50%;
     left: 20%;
     transform: translate(-50%, -50%);
     width: 35%;
     height: 50%;
     background-color: #2c2a4a;
}

/* styles for the form to create a conversation **/
#formConv * {
     margin: 0;
     padding: 0;
}

#formConv h1 {
     color: white;
     font-size: 3vh;
     margin-bottom: 5vh;
}

#formConv input {
     border-radius: 10px;
     height: 3vh;
     width: 20vw;
     color: white;
     font-size: 2vh;
     transition: 0.4s;
     text-align: center;
}

#formConv input:focus {
     border: #907ad6 5px solid;
     outline: none;
     width: 25vw;
     height: 4vh;
     font-size: 2.5vh;
}

#formConv button {
     margin: 5vh;
     margin-bottom: 2vh;
     width: 13vw;
     height: 5vh;
     background-color: #907ad6;
     border-radius: 20px;
     font-size: 2vh;
     color: white;
     min-width: 200px;
     cursor: pointer;
}

#formConv button:hover {
     background-color: #4f518c;
}

#formConv button:active {
     background-color: #907ad6;
}

#formConv button:focus {
     outline: none;
}

#formConv button:disabled {
     background-color: #4f518c;
}

/* elements in the form conv has to be centered vertically */
#formConv {
     display: flex;
     align-items: center;
     justify-content: center;
}

/* color of default input text a little bit grey */
#formConv input::placeholder {
     color: #b3b3b3;
}

/* space between the inputs */
#formConv input {
     margin-bottom: 5vh;
}

/* border for the inputs */
#formConv input {
     border: 1px solid #b3b3b3;
}

#formConvSubmit {
     background-color: #907ad6;
     cursor: pointer;
     transition: 0.2s;
}

/* same as formConv but on the right, the profile pic and username has to be centered in the div and has a space between */
#formConvUsersList {
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     position: absolute;
     top: 50%;
     left: 80%;
     transform: translate(-50%, -50%);
     width: 35%;
     min-height: 50%;
     background-color: #2c2a4a;
}

/* images of this form are 5vh, squared and radius 50%*/
#formConvUsersList img {
     position:relative;
     height: 5vh;
     border-radius: 50%;
}

/* divUsername text is on the right of the image */
#formConvUsersList div {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     min-width: 20%;
     padding: 0.5%;
     color: white;
     font-size: 2vh;
}